<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BackEnd</title>
    <link rel="stylesheet" href="~/css/layoutStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
@*    <div id="blob">
        <div class="blob-bg"></div>
    </div>*@

    <div class="hamburger-menu fa-solid fa-bars">
        <ul class="navigation-items-list">
            <li class="fa-solid fa-house navigation-item" data-link="../Home/Index"></li>
            <li class="fa-solid fa-list-check navigation-item" data-link="../Home/TaskPage"></li>
            <li class="fa-solid fa-user navigation-item" data-link="../Home/LoginPage"></li>
        </ul>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script type="module" src="~/js/layoutJS.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>