@{
    ViewData["Title"] = "Home Page";
    var users = MainBackEnd.GetAllProducts();
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table>
    @foreach (var user in users)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.Email</td>
            <td>@user.Password</td>
        </tr>
    }
</table>