@{
    ViewData["Title"] = "Login Page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn</title>
    <link rel="stylesheet" href="~/css/profileStyle.css">
</head>

<body>

    <div class="center-children-grid">
        <h1 id="log-in-title">Welcome!</h1>

        <input type="text" name="emailInput" placeholder="Email" class="login-input-field email-input">
        <input type="password" name="passwordInput" placeholder="Password" class="login-input-field password-input">
        <div class="center-children-grid">
            <div class="submit-btn login-btn center-children-grid">
                <h1 class="submit-btn-title">Log In</h1>
            </div>
            <a id="register-link" href="RegisterPage">Register</a>
        </div>
    </div>

    <script type="module" src="~/js/loginpage.js"></script>
</body>

</html>