@{
    ViewData["Title"] = "Register Page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn</title>
    <link rel="stylesheet" href="~/css/profileStyle.css">
</head>

<body>
    <h1 id="log-in-title">Welcome!</h1>

    <input type="text" name="nameInput" placeholder="Name" class="register-input-field name-input">
    <input type="text" name="emailInput" placeholder="Email" class="register-input-field email-input">
    <input type="password" name="passwordInput" placeholder="Password" class="register-input-field password-input">
    <input type="password" name="repeatPasswordInput" placeholder="Repeat password"
           class="register-input-field repeat-password-input">

    <div class="center-children-grid">
        <div class="submit-btn register-btn center-children-grid">
            <h1 class="submit-btn-title">Register</h1>
        </div>
        <a id="login-link" href="LoginPage">Log In</a>
    </div>

    <script type="module" src="~/js/registerpage.js"></script>
</body>

</html>