@{
    ViewData["Title"] = "Tasks Page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/taskPageStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    <div id="task-edit-btn" class="fa-solid fa-pencil"></div>

    <div id="day-title-wrapper">
        <div class="arrow fa-solid fa-arrow-left"></div>
        <h1 id="day-title"></h1>
        <div class="arrow fa-solid fa-arrow-right"></div>
    </div>

    <div id="task-wrapper">
        <h1 id="task-type" class="active"></h1>
        <h2 id="task-description" class="active"></h2>

        <input type="text" id="task-type-edit-input" />
        <input type="text" id="task-description-edit-input" />
    </div>

    <h2 id="time-frame"></h2>

    <table id="class-table"></table>

    <template id="class-row-template">
        <tr class="class-row" data-time-frame="" data-has-task="false">
            <td class="class-number"></td>
            <td class="class-name"></td>
        </tr>
    </template>
    <script type="module" src="~/js/taskPageLogic.js"></script>
</body>

</html>