body {
    background-color: #181818;
    padding: 0;
}

#time-title {
    color: #fff;
    text-align: center;

    text-transform: capitalize;
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
}

#date-title {
    color: #aaa;
    text-align: center;

    text-transform: capitalize;
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;

    transform: translate(0, -75%);
}

.center-children {
    display: grid;
    place-items: center;
}

#weather {
    width: 33vw;
    height: 20vw;
    /* border: 3px solid red; */
}

#weather-forecast {
    color: #fff;
    font-size: 2.5rem;

    text-align: center;
}

.weather-icon {
    /* border: 3px solid red; */

    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 0;
    padding: 0;

    color: white;
    font-size: 15rem;
    text-align: center;
}