body {
    background: #181818;
    z-index: -1;
    margin: 0;
    padding: 0;
}

.hamburger-menu {
    color: #fff;
    font-size: 3rem;
    text-align: center;
    vertical-align: central;
    /* border: 1px solid red; */

    position: fixed;
    z-index: 10;
    top: 0;
    left: 100%;
    transform: translate(-100%, 0%);
    cursor: pointer;

    width: 4.5rem;
    max-height: 3.85rem;
    /* aspect-ratio: 1; */
    background-color: #212121;

    text-align: center;
    line-height: 72px;
    vertical-align: text-bottom;
    padding: 0.5rem 0.225rem 0 0.225rem;
    transition: 150ms;
}

.navigation-items-list {
    width: 100%;
    height: fit-content;
    padding: 0.25em 0 0 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    transition: 250ms;
    transform: translate(125%, 0);
}

.navigation-item {
    color: #fff;
    font-size: 1em;
    min-width: 100%;

    text-align: center;
    line-height: 100%;
    vertical-align: middle;

    padding: 0.33em 0.075em;
    margin: 0;
    background-color: #212121;

    transition: 150ms;
}

.navigation-item:hover,
.hamburger-menu:hover:not(:has(.navigation-item:hover)) {
    background-color: #3d3d3d;
}

.navigation-items-list.active {
    /* animation: NavigationListAppear 1s 1 forwards ease-out; */
    transform: translate(0, 0);
}

@keyframes NavigationListAppear {
    from {
        transform: translate(100%, 0);
    }

    to {
        transform: translate(0%, 0);
    }
}



/*Blob*/

#blob {
    height: 35vh;
    aspect-ratio: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

#blob .blob-bg {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: linear-gradient(to right, aquamarine, mediumpurple);
    animation: rotateBlob 20s infinite linear;
    filter: blur(150px);
}

@keyframes rotateBlob {
    from {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg) scale(1.1, 1.25);
    }

    to {
        transform: rotate(360deg);
    }
}