body {
    background-color: #181818;
    font-family: 'Times New Roman', Times, serif;
}

#class-table {
    border-spacing: 0 1.75vh;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.class-row {
    transition: 300ms;
    cursor: pointer;
}

    .class-row.selected {
        transform: translate(15%, 0);
    }

.class-row, #day-title {
    user-select: none;
}

    .class-row * {
        height: 7vh;
        border: 3px solid #fff;
        color: #fff;
        font-size: 2.5vw /*3rem*/;
    }

    .class-row[data-has-task="true"] .class-name {
        border-right: solid #ba2a2a;
    }

.class-number {
    border-radius: 10px 0 0 10px;
    padding: 0.1em 0.5em;
}

.class-name {
    white-space: nowrap;
    min-width: 10vw;
    max-width: 15vw;
    border-radius: 0 50px 50px 0;
    padding: 0.1em 2.5em 0.1em 0.5em;
}

#time-frame {
    color: #aaa;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-size: 3rem;
    text-align: center;
}





#day-title-wrapper {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#day-title {
    color: #fff;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 5rem;
    padding: 0.33em;
    margin: 0;
    /*    min-width: 7em;*/
    text-align: center;
}

.arrow {
    color: #aaa;
    font-size: 3.5rem;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: 225ms;
    padding: 0.5rem 0;
}

    .arrow.fa-arrow-left {
        padding-left: 1em;
    }

    .arrow.fa-arrow-right {
        padding-right: 1em;
    }

    .arrow:hover {
        font-size: 4.25rem;
    }

/*#day-title-wrapper:has(#day-title:hover) .arrow{*/
#day-title-wrapper:hover .arrow {
    opacity: 1;
}


#task-wrapper {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#task-type, #task-type-edit-input {
    color: #fff;
    font-size: 4rem;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -125%);
    min-height: 7vh;
    max-height: 12vh;
    min-width: 35vw;
    max-width: 35vw;
    white-space: break-spaces;
    opacity: 0;
}

#task-description, #task-description-edit-input {
    color: #aaa;
    font-size: 2.75rem;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    min-height: 4vh;
    max-height: 7vh;
    min-width: 25vw;
    max-width: 25vw;
    white-space: break-spaces;
    opacity: 0;
}

#task-type-edit-input, #task-description-edit-input {
    border: 3px solid #fff;
    outline-color: #aaa;
    border-radius: 33px;
    color: #fff;
    background: #181818;
    padding: 0.125em 0.5em;
    font-family: 'Times New Roman', Times, serif;
}

    #task-type.active, #task-description.active, #task-type-edit-input.active, #task-description-edit-input.active {
        opacity: 1;
    }

#task-edit-btn {
    font-size: 4rem;
    color: #aaa;
    /*    border: 1px solid #fff;*/
    position: absolute;
    top: 5.5vh;
    left: 5.5vh;
    cursor: pointer;
    transition: 150ms;
    transform: translate(-50%, -50%);
}

    #task-edit-btn:hover {
        font-size: 5rem;
        color: #fff;
    }
